.naon{
  width:100%;background-repeat: no-repeat;background-position: center;background-size:cover;background-image:url('/images/foto-background/IMG_6367.jpg');

}

.apa{
  height:100px;
}

.about{
  width:100%;
}

.gimana{
  margin-left:54px;width:90%;
}

.isi{
  width:90%;
}
