#cerita > #warna-border{
 background: linear-gradient(to bottom, rgba(255,159,41,1) 0%, rgba(255,172,77,1) 34%, rgba(255,134,5,1) 56%, rgba(255,137,10,1) 76%, rgba(255,131,15,1) 92%, rgba(255,131,15,1) 100%);
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 100%;
  position: relative;
}

.ukuranCard{
  width: 220px;
  background-color: orange;
}
.warnacard{
  background-color:white;
}

.btn-pemisah-mk2{
  background: linear-gradient(45deg, rgba(255,153,43,1) 0%, rgba(255,153,0,1) 39%, rgba(255,193,5,1) 68%, rgba(255,214,10,1) 82%, rgba(255,207,15,1) 100%);
  width: 150px;
  height: 45px;
  margin-bottom: auto;
  border-radius: 30px;
  outline: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 3px #999;
  font-weight: 900px;
  color: white;
  font-size: 20px;
}

.btn-pemisah-mk2:hover {
  background: linear-gradient(45deg, rgba(255,207,15,1) 0%, rgba(255,214,10,1) 22%, rgba(255,193,5,1) 43%, rgba(255,153,0,1) 69%, rgba(255,153,43,1) 100%);
}

.btn-pemisah-mk2:active{
box-shadow: 0 1px #666;
transform: translateY(2px);
}

.ukuranbuttonread{
  text-align:center;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}
