#shape-container {
  margin:0 auto;
  padding:0;
  width:470px;

}

.sqr-txt {
  color:#fff;
  font-size:18px;
  font-family: "Open Sans", sans-serif;
  display: table-cell;
    height: 100px;
  text-align:center;
  vertical-align: middle;
    width: 100px;
  text-decoration:none;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

#sqrs a {
  margin:0 auto;
  padding:0;
}

.sqr {
  width:100px;
    height:100px;
  padding:0px;
  margin:21px 18px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  display:inline-block;
}

#sqr-1-1 {
  background-color:#fbaf40;
}
#sqr-1-2 {
  background-color:#fcd546;
}
#sqr-1-3 {
  background-color:#f54653;
}
#sqr-1-4 {
  background-color:#69cdd7;
}
#sqr-2-1 {
  background-color:#69AFBD;
}
#sqr-2-2 {
  background-color:#B46280;
}
#sqr-2-3 {
  background-color:#fbaf40;
}
#sqr-3-1 {
  background-color:#FF4E50;
}
#sqr-3-2 {
  background-color:#fcd546;
}
#sqr-4-1 {
  background-color:#B46280;
}
#sqrs > li:nth-child(n+4) {
  margin-left:90px;
  margin-top:-52px;
}
#sqrs > li:nth-child(n+5) {
  margin-left:19px;
  margin-top:-52px;
}
#sqrs > li:nth-child(n+6) {
  margin-left:161px;
  margin-top:-52px;
}
#sqrs li {
  display: inline-block;
  margin:19px;
  padding:0;
}
#sqsr ul {
  margin:0 auto;
  list-style:none;
}
a:hover {
  color:#000;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    width: 80px;
}

/*Burger-Menu*/

.menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 25px;
}
.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: #FFF0A5;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}

/*Fake-Trigger*/
#sized {
    width:60px;
    height:50px;
    color:transparent;
    background-color: transparent;
    border: transparent;
}

/*Modal-Box*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding:0.5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #FFF0A5;
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
    border-bottom: none;
    height:30vh;
}

.modal-body {
    padding: 2px 16px;
    background-color: #FFF0A5;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #FFF0A5;
    color: black;
    border-top: none;
    text-align: center;
}

.modal-footer hr {
    margin-top: 20vh;
}

.modal-footer>p {
  color: #468966
}

.modal-footer h3 {
    text-transform: none;
    font-size:4vh;

}

.close {
    color: #468966;
    float: left;
    font-size: 5em;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #B64926;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*Navigation Inner Styling*/







/*Mobile Optimization*/
/* Portrait Tablet to Landscape and Desktop */
@media (min-width:768px) and (max-width:979px) {

  
}

/* Landscape-Phone to Portrait Tablet*/
@media (max-width:767px) {

    .nav ul li{
        display: block;
        height:38px;
    }

    .nav ul {
        clear: both;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nav ul li a {
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 6vw;
        letter-spacing: -0.05em;
    }
}

  /*Landscape-Phone Downwards*/
  @media (max-width: 480px) {

        .nav ul li{
            display: block;
            height:38px;
        }

        .nav ul {
            clear: both;
            width: 100%;
            text-align: center;
            padding: 0;
        }

        .nav ul li a {
            padding: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 10vw1;
            letter-spacing: -0.05em;
        }
  }
