
body, html {
  width: 100%;
  height: 100%;

}



.tablenamaZipora{
  width: 60px;
  left: 65%;
  margin-top:-25%;
  background: transparent;
  z-index: 21;
  position:relative;
}


.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: -1% 2%;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

.logoZipora-1 {
  fill: url(#linear-gradient);
}

.logoZipora-2 {
  fill: #fff;
  stroke: #fff;
}

.logoZipora-3 {
  filter: url(#Path_1);
}





@media(max-width: 786px) {
  header {
        width: 100%;
      }

.tablenamaZipora{
    left: 25%;
    margin-top:-25%;
    background-color: orange;
}
      .logo {
        line-height: 60px;
            position: fixed;
            top: 0;
            margin-top: 16px;
            weight:40%;
            height: 50;
      }

      .gambarlogo {
        height: 50%;
        weight:100%;
        margin-top: 0%;
      }



    

}
